<!-- 
    This module extends the base template and is where the the documentation is located

    # Author            : Keith Barrientos
    # Calling Sequence  : N/A
    # Date Written      : October 5, 2021
    # Date Revised      : December 9, 2021
    # Purpose           : Describes and explain the features of the website as well as 
                          the instructions in using the website
-->

{% extends 'base.html' %}
{% load static %}
{% block title %} Features {% endblock %}

{% block content %}
<!-- Header of the Page -->
<header style="background-image: url('static/css/img/home-bg.jpg');height: 91vh;display: flex;justify-content: center;align-items: center;color: #2C3E50;" class="masthead text-center howHead">
    <div class="container d-flex align-items-center flex-column">
        <h5 class="masthead-heading text-uppercase mb-0">WELCOME TO AB SENTILYZER</h5>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">An Aspect-Based Sentiment Analyzer Tool</p>
        <!-- <a class="btn btn-primary text-uppercase mt-3" id="getStarted" href="#features">Get Started</a> -->
    </div>
</header>

<!-- Features of System -->
<section class="page-section bg-light"  style="height: 100vh;">
    <div class="container"  style="padding-bottom: 30px;">
        <div class="text-center" >
            <h2 class="section-heading text-uppercase" id="featurespage" style="margin-top: -54px;">Features</h2>
            <p class="section-subheading text-muted">A step by step guide in using the AB Sentilyzer.</p>
        </div>
        <div  class="row mt-5" style="gap: 34px; display: flex; justify-content: center; align-items: center;">
            <div class="card" style="width: 18rem;" id="features">
                <img src="{% static 'css/img/textIcon.png' %}" class="card-img-top featureIcon" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Single Input Classification</h5>
                    <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#textFeature">
                        <p class="card-text" style="display: flex; justify-content: start; gap: 8px;">
                            More details 
                            <a style="cursor: pointer; color: #16C79A;" 
                                data-bs-toggle="modal" 
                                data-bs-target="#textFeature">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </p>
                    </a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="{% static 'css/img/csvIcon.png' %}" class="card-img-top featureIcon" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Multiple Input Classification</h5>
                    <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#csvFeature">
                        <p class="card-text" style="display: flex; justify-content: start; gap: 8px;">
                            More details 
                            <a style="cursor: pointer; color: #16C79A;" 
                                data-bs-toggle="modal" 
                                data-bs-target="#csvFeature">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </p>
                    </a>
                    
                </div>
              </div>
        </div>
        <a href="#" class="back-to-top">Back to Top</a>
    </div>
</section>

<!-- Feature modals -->
<!-- Feature 1: Text Feature-->
<div class="portfolio-modal modal fade" id="textFeature" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="padding:25px">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: end; font-size: 1rem;"></button>
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Single Input Classification</h2>
                    <p class="section-subheading text-muted">A guide on how to use the single input classification</p>
                </div>
                <div class="mt-5 mb-4">
                    <p class="masthead-subheading font-weight-light mb-0" style="text-align: justify;">
                        The user may enter one or more sentences in the textfield, 
                        which has a maximum length of 300 characters. When the "Classify" button is pressed, 
                        the input is passed to the backend for processing. The user will only see the 
                        loading symbol during the classification process, indicating that the system is 
                        still processing the input.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature 2 CSV -->
<div class="portfolio-modal modal fade" id="csvFeature" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="padding:15px">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: end; font-size: 1rem;"></button>
            <div class="modal-body" style="overflow-x: hidden;">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Multiple Input Classification</h2>
                    <p class="section-subheading text-muted">A guide on how to use the multiple input classification</p>
                </div>
                <div class="mt-5 mb-4">
                    <p class="masthead-subheading font-weight-light mb-0" style="text-align: justify;">
                        For the Multiple Input Classification, the user can upload a CSV file containing
                        a maximum of 500 rows to be classified. After uploading the file and meeting the
                        the requirements, the user can click the "Classify" button. The file is then 
                        passed to the backend for processing. The user will only see the loading symbol 
                        during the classification process, indicating that the system is still 
                        processing the file.
                    </p>
                </div>
                <div class="mt-3 mb-4">
                    <h6 class="masthead-heading mb-0">Renaming CSV Column Header</h6>
                    <p class="masthead-subheading font-weight-light mb-0" style="text-align: justify;">
                        <p class="masthead-subheading font-weight-light mb-0" style="text-align: justify;">
                            <ul>
                                <li class="mb-2 mt-2">
                                    <p>Users must rename the column which they want to classify in the CSV as "input".</p>
                                    <ol>
                                        <li>
                                            The column should contain sentiments about an entity, product, or services, 
                                            which in the picture below is the column "Comments".
                                        </li>
                                        <img src="{% static 'css/img/renameinput1.png' %}" alt="..." style="padding-bottom: 15px;">
                                        <br>
                                        <li>
                                            The user must rename the column "Comments" into "input", then save the file.
                                        </li>
                                        <img src="{% static 'css/img/renameinput2.png' %}" alt="...">
                                    </ol>
                                </li>
                            </ul> 
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS Scripts for UI -->
<script>
    jQuery(document).ready(function() {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.back-to-top').fadeIn(duration);
            } else {
                jQuery('.back-to-top').fadeOut(duration);
            }
        });
        
        jQuery('.back-to-top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
</script>
{% endblock %}
